.HangManDrawing {
	position: relative; 
     height: 400px;
    width: 300px;
}

@media only screen and (max-width: 600px) {
    .HangManDrawing {
        height: 200px;
        width: 150px;
    }
    
}
