
.HangManWord #family{
    font-family: 'Fredoka', sans-serif;
    font-size: 3rem;
    position: relative;
    top: 20px;  
    right: 30px;
    text-align: right;
}


.HangManWord #word {
	display: flex;
    gap: 0.25em;
    font-size: 4rem;
    font-weight:bold;
    text-transform:uppercase;
    font-family: monospace;
    direction: rtl;
}

#word > #letter {
       border-bottom: 5px solid black;
       font-family: 'Fredoka', sans-serif;
}

@media only screen and (max-width: 600px) {
    .HangManWord #family{
    font-size: 1.2rem;
    position: relative;
    top: 0px;
    right: 0px;
    margin: 3px;
}
.HangManWord #family p{
    margin: 3%;
}

.HangManWord #word {
    gap: 0.25em;
    font-size: 1.2rem;
    width: max-content;
    margin: auto; 
    height: 50%px;
}

#word > #letter {
    border-bottom: 2.5px solid black;
}
}